<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
    <%- include ('./partials/head.ejs') %>
</head>
<body>

   
   
        <a class="addDrink" href="/drinks/new">Add Drink</a>

    

    <div class="container">
        <ul class="list">
        <% for(let i = 0; i < drinks.length; i++){ %>
        
       <li> <a href="/drinks/<%=drinks[i].id%>"><img src="<%=drinks[i].image%>" class="drink-image"></a>%></li>
       <li> <a href="/drinks/<%=drinks[i].id%>"><img src="<%=drinks[i].image%>" class="drink-image"></a>%></li>
       <% } %>
             
            </ul>
            
                
            
    
           
        
    
           
</body>
<%- include ('./partials/footer.ejs') %>
</html>
